@font-face {
  font-family: Moonshiner-Regular;
  src: url("../fonts/Moonshiner-Regular.otf") format("opentype");
}

@font-face {
  font-family: KlinicSlabBook;
  src: url("../fonts/KlinicSlabBook.otf") format("opentype");
}

/* Reset */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.row.uniform > * > :first-child {
  margin-top: 0;
}

.row.uniform > * > :last-child {
  margin-bottom: 0;
}

.row.\30 \25 > * {
  padding: 0 0 0 0px;
}

.row.\30 \25 {
  margin: 0 0 -1px 0px;
}

.row.uniform.\30 \25 > * {
  padding: 0px 0 0 0px;
}

.row.uniform.\30 \25 {
  margin: 0px 0 -1px 0px;
}

.row > * {
  padding: 0 0 0 40px;
}

.row {
  margin: 0 0 -1px -40px;
}

.row.uniform > * {
  padding: 40px 0 0 40px;
}

.row.uniform {
  margin: -40px 0 -1px -40px;
}

.row.\32 00\25 > * {
  padding: 0 0 0 80px;
}

.row.\32 00\25 {
  margin: 0 0 -1px -80px;
}

.row.uniform.\32 00\25 > * {
  padding: 80px 0 0 80px;
}

.row.uniform.\32 00\25 {
  margin: -80px 0 -1px -80px;
}

.row.\31 50\25 > * {
  padding: 0 0 0 60px;
}

.row.\31 50\25 {
  margin: 0 0 -1px -60px;
}

.row.uniform.\31 50\25 > * {
  padding: 60px 0 0 60px;
}

.row.uniform.\31 50\25 {
  margin: -60px 0 -1px -60px;
}

.row.\35 0\25 > * {
  padding: 0 0 0 20px;
}

.row.\35 0\25 {
  margin: 0 0 -1px -20px;
}

.row.uniform.\35 0\25 > * {
  padding: 20px 0 0 20px;
}

.row.uniform.\35 0\25 {
  margin: -20px 0 -1px -20px;
}

.row.\32 5\25 > * {
  padding: 0 0 0 10px;
}

.row.\32 5\25 {
  margin: 0 0 -1px -10px;
}

.row.uniform.\32 5\25 > * {
  padding: 10px 0 0 10px;
}

.row.uniform.\32 5\25 {
  margin: -10px 0 -1px -10px;
}

.\31 2u, .\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0;
}

.\31 1u, .\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 0u, .\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0;
}

.\39 u, .\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0;
}

.\38 u, .\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0;
}

.\37 u, .\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0;
}

.\36 u, .\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0;
}

.\35 u, .\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0;
}

.\34 u, .\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0;
}

.\33 u, .\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0;
}

.\32 u, .\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 u, .\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0;
}

.\31 2u\24 + *,
.\31 1u\24 + *,
.\31 0u\24 + *,
.\39 u\24 + *,
.\38 u\24 + *,
.\37 u\24 + *,
.\36 u\24 + *,
.\35 u\24 + *,
.\34 u\24 + *,
.\33 u\24 + *,
.\32 u\24 + *,
.\31 u\24 + * {
  clear: left;
}

.\-11u {
  margin-left: 91.6666666667%;
}

.\-10u {
  margin-left: 83.3333333333%;
}

.\-9u {
  margin-left: 75%;
}

.\-8u {
  margin-left: 66.6666666667%;
}

.\-7u {
  margin-left: 58.3333333333%;
}

.\-6u {
  margin-left: 50%;
}

.\-5u {
  margin-left: 41.6666666667%;
}

.\-4u {
  margin-left: 33.3333333333%;
}

.\-3u {
  margin-left: 25%;
}

.\-2u {
  margin-left: 16.6666666667%;
}

.\-1u {
  margin-left: 8.3333333333%;
}

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 0 0 0 40px;
  }
  .row {
    margin: 0 0 -1px -40px;
  }
  .row.uniform > * {
    padding: 40px 0 0 40px;
  }
  .row.uniform {
    margin: -40px 0 -1px -40px;
  }
  .row.\32 00\25 > * {
    padding: 0 0 0 80px;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -80px;
  }
  .row.uniform.\32 00\25 > * {
    padding: 80px 0 0 80px;
  }
  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px;
  }
  .row.\31 50\25 > * {
    padding: 0 0 0 60px;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -60px;
  }
  .row.uniform.\31 50\25 > * {
    padding: 60px 0 0 60px;
  }
  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px;
  }
  .row.\35 0\25 > * {
    padding: 0 0 0 20px;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -20px;
  }
  .row.uniform.\35 0\25 > * {
    padding: 20px 0 0 20px;
  }
  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px;
  }
  .row.\32 5\25 > * {
    padding: 0 0 0 10px;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -10px;
  }
  .row.uniform.\32 5\25 > * {
    padding: 10px 0 0 10px;
  }
  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px;
  }
  .\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28xlarge\29 + *,
  .\31 1u\24\28xlarge\29 + *,
  .\31 0u\24\28xlarge\29 + *,
  .\39 u\24\28xlarge\29 + *,
  .\38 u\24\28xlarge\29 + *,
  .\37 u\24\28xlarge\29 + *,
  .\36 u\24\28xlarge\29 + *,
  .\35 u\24\28xlarge\29 + *,
  .\34 u\24\28xlarge\29 + *,
  .\33 u\24\28xlarge\29 + *,
  .\32 u\24\28xlarge\29 + *,
  .\31 u\24\28xlarge\29 + * {
    clear: left;
  }
  .\-11u\28xlarge\29 {
    margin-left: 91.6666666667%;
  }
  .\-10u\28xlarge\29 {
    margin-left: 83.3333333333%;
  }
  .\-9u\28xlarge\29 {
    margin-left: 75%;
  }
  .\-8u\28xlarge\29 {
    margin-left: 66.6666666667%;
  }
  .\-7u\28xlarge\29 {
    margin-left: 58.3333333333%;
  }
  .\-6u\28xlarge\29 {
    margin-left: 50%;
  }
  .\-5u\28xlarge\29 {
    margin-left: 41.6666666667%;
  }
  .\-4u\28xlarge\29 {
    margin-left: 33.3333333333%;
  }
  .\-3u\28xlarge\29 {
    margin-left: 25%;
  }
  .\-2u\28xlarge\29 {
    margin-left: 16.6666666667%;
  }
  .\-1u\28xlarge\29 {
    margin-left: 8.3333333333%;
  }
}

@media screen and (max-width: 1280px) {
  .row > * {
    padding: 0 0 0 40px;
  }
  .row {
    margin: 0 0 -1px -40px;
  }
  .row.uniform > * {
    padding: 40px 0 0 40px;
  }
  .row.uniform {
    margin: -40px 0 -1px -40px;
  }
  .row.\32 00\25 > * {
    padding: 0 0 0 80px;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -80px;
  }
  .row.uniform.\32 00\25 > * {
    padding: 80px 0 0 80px;
  }
  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px;
  }
  .row.\31 50\25 > * {
    padding: 0 0 0 60px;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -60px;
  }
  .row.uniform.\31 50\25 > * {
    padding: 60px 0 0 60px;
  }
  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px;
  }
  .row.\35 0\25 > * {
    padding: 0 0 0 20px;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -20px;
  }
  .row.uniform.\35 0\25 > * {
    padding: 20px 0 0 20px;
  }
  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px;
  }
  .row.\32 5\25 > * {
    padding: 0 0 0 10px;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -10px;
  }
  .row.uniform.\32 5\25 > * {
    padding: 10px 0 0 10px;
  }
  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px;
  }
  .\31 2u\28large\29, .\31 2u\24\28large\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28large\29, .\31 1u\24\28large\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28large\29, .\31 0u\24\28large\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28large\29, .\39 u\24\28large\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28large\29, .\38 u\24\28large\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28large\29, .\37 u\24\28large\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28large\29, .\36 u\24\28large\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28large\29, .\35 u\24\28large\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28large\29, .\34 u\24\28large\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28large\29, .\33 u\24\28large\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28large\29, .\32 u\24\28large\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28large\29, .\31 u\24\28large\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28large\29 + *,
  .\31 1u\24\28large\29 + *,
  .\31 0u\24\28large\29 + *,
  .\39 u\24\28large\29 + *,
  .\38 u\24\28large\29 + *,
  .\37 u\24\28large\29 + *,
  .\36 u\24\28large\29 + *,
  .\35 u\24\28large\29 + *,
  .\34 u\24\28large\29 + *,
  .\33 u\24\28large\29 + *,
  .\32 u\24\28large\29 + *,
  .\31 u\24\28large\29 + * {
    clear: left;
  }
  .\-11u\28large\29 {
    margin-left: 91.6666666667%;
  }
  .\-10u\28large\29 {
    margin-left: 83.3333333333%;
  }
  .\-9u\28large\29 {
    margin-left: 75%;
  }
  .\-8u\28large\29 {
    margin-left: 66.6666666667%;
  }
  .\-7u\28large\29 {
    margin-left: 58.3333333333%;
  }
  .\-6u\28large\29 {
    margin-left: 50%;
  }
  .\-5u\28large\29 {
    margin-left: 41.6666666667%;
  }
  .\-4u\28large\29 {
    margin-left: 33.3333333333%;
  }
  .\-3u\28large\29 {
    margin-left: 25%;
  }
  .\-2u\28large\29 {
    margin-left: 16.6666666667%;
  }
  .\-1u\28large\29 {
    margin-left: 8.3333333333%;
  }
}

@media screen and (max-width: 980px) {
  .row > * {
    padding: 0 0 0 40px;
  }
  .row {
    margin: 0 0 -1px -40px;
  }
  .row.uniform > * {
    padding: 40px 0 0 40px;
  }
  .row.uniform {
    margin: -40px 0 -1px -40px;
  }
  .row.\32 00\25 > * {
    padding: 0 0 0 80px;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -80px;
  }
  .row.uniform.\32 00\25 > * {
    padding: 80px 0 0 80px;
  }
  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px;
  }
  .row.\31 50\25 > * {
    padding: 0 0 0 60px;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -60px;
  }
  .row.uniform.\31 50\25 > * {
    padding: 60px 0 0 60px;
  }
  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px;
  }
  .row.\35 0\25 > * {
    padding: 0 0 0 20px;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -20px;
  }
  .row.uniform.\35 0\25 > * {
    padding: 20px 0 0 20px;
  }
  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px;
  }
  .row.\32 5\25 > * {
    padding: 0 0 0 10px;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -10px;
  }
  .row.uniform.\32 5\25 > * {
    padding: 10px 0 0 10px;
  }
  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px;
  }
  .\31 2u\28medium\29, .\31 2u\24\28medium\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28medium\29, .\31 1u\24\28medium\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28medium\29, .\31 0u\24\28medium\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28medium\29, .\39 u\24\28medium\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28medium\29, .\38 u\24\28medium\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28medium\29, .\37 u\24\28medium\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28medium\29, .\36 u\24\28medium\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28medium\29, .\35 u\24\28medium\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28medium\29, .\34 u\24\28medium\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28medium\29, .\33 u\24\28medium\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28medium\29, .\32 u\24\28medium\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28medium\29, .\31 u\24\28medium\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28medium\29 + *,
  .\31 1u\24\28medium\29 + *,
  .\31 0u\24\28medium\29 + *,
  .\39 u\24\28medium\29 + *,
  .\38 u\24\28medium\29 + *,
  .\37 u\24\28medium\29 + *,
  .\36 u\24\28medium\29 + *,
  .\35 u\24\28medium\29 + *,
  .\34 u\24\28medium\29 + *,
  .\33 u\24\28medium\29 + *,
  .\32 u\24\28medium\29 + *,
  .\31 u\24\28medium\29 + * {
    clear: left;
  }
  .\-11u\28medium\29 {
    margin-left: 91.6666666667%;
  }
  .\-10u\28medium\29 {
    margin-left: 83.3333333333%;
  }
  .\-9u\28medium\29 {
    margin-left: 75%;
  }
  .\-8u\28medium\29 {
    margin-left: 66.6666666667%;
  }
  .\-7u\28medium\29 {
    margin-left: 58.3333333333%;
  }
  .\-6u\28medium\29 {
    margin-left: 50%;
  }
  .\-5u\28medium\29 {
    margin-left: 41.6666666667%;
  }
  .\-4u\28medium\29 {
    margin-left: 33.3333333333%;
  }
  .\-3u\28medium\29 {
    margin-left: 25%;
  }
  .\-2u\28medium\29 {
    margin-left: 16.6666666667%;
  }
  .\-1u\28medium\29 {
    margin-left: 8.3333333333%;
  }
}

@media screen and (max-width: 736px) {
  .row > * {
    padding: 0 0 0 40px;
  }
  .row {
    margin: 0 0 -1px -40px;
  }
  .row.uniform > * {
    padding: 40px 0 0 40px;
  }
  .row.uniform {
    margin: -40px 0 -1px -40px;
  }
  .row.\32 00\25 > * {
    padding: 0 0 0 80px;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -80px;
  }
  .row.uniform.\32 00\25 > * {
    padding: 80px 0 0 80px;
  }
  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px;
  }
  .row.\31 50\25 > * {
    padding: 0 0 0 60px;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -60px;
  }
  .row.uniform.\31 50\25 > * {
    padding: 60px 0 0 60px;
  }
  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px;
  }
  .row.\35 0\25 > * {
    padding: 0 0 0 20px;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -20px;
  }
  .row.uniform.\35 0\25 > * {
    padding: 20px 0 0 20px;
  }
  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px;
  }
  .row.\32 5\25 > * {
    padding: 0 0 0 10px;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -10px;
  }
  .row.uniform.\32 5\25 > * {
    padding: 10px 0 0 10px;
  }
  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px;
  }
  .\31 2u\28small\29, .\31 2u\24\28small\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28small\29, .\31 1u\24\28small\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28small\29, .\31 0u\24\28small\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28small\29, .\39 u\24\28small\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28small\29, .\38 u\24\28small\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28small\29, .\37 u\24\28small\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28small\29, .\36 u\24\28small\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28small\29, .\35 u\24\28small\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28small\29, .\34 u\24\28small\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28small\29, .\33 u\24\28small\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28small\29, .\32 u\24\28small\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28small\29, .\31 u\24\28small\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28small\29 + *,
  .\31 1u\24\28small\29 + *,
  .\31 0u\24\28small\29 + *,
  .\39 u\24\28small\29 + *,
  .\38 u\24\28small\29 + *,
  .\37 u\24\28small\29 + *,
  .\36 u\24\28small\29 + *,
  .\35 u\24\28small\29 + *,
  .\34 u\24\28small\29 + *,
  .\33 u\24\28small\29 + *,
  .\32 u\24\28small\29 + *,
  .\31 u\24\28small\29 + * {
    clear: left;
  }
  .\-11u\28small\29 {
    margin-left: 91.6666666667%;
  }
  .\-10u\28small\29 {
    margin-left: 83.3333333333%;
  }
  .\-9u\28small\29 {
    margin-left: 75%;
  }
  .\-8u\28small\29 {
    margin-left: 66.6666666667%;
  }
  .\-7u\28small\29 {
    margin-left: 58.3333333333%;
  }
  .\-6u\28small\29 {
    margin-left: 50%;
  }
  .\-5u\28small\29 {
    margin-left: 41.6666666667%;
  }
  .\-4u\28small\29 {
    margin-left: 33.3333333333%;
  }
  .\-3u\28small\29 {
    margin-left: 25%;
  }
  .\-2u\28small\29 {
    margin-left: 16.6666666667%;
  }
  .\-1u\28small\29 {
    margin-left: 8.3333333333%;
  }
}

@media screen and (max-width: 480px) {
  .row > * {
    padding: 0 0 0 40px;
  }
  .row {
    margin: 0 0 -1px -40px;
  }
  .row.uniform > * {
    padding: 40px 0 0 40px;
  }
  .row.uniform {
    margin: -40px 0 -1px -40px;
  }
  .row.\32 00\25 > * {
    padding: 0 0 0 80px;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -80px;
  }
  .row.uniform.\32 00\25 > * {
    padding: 80px 0 0 80px;
  }
  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px;
  }
  .row.\31 50\25 > * {
    padding: 0 0 0 60px;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -60px;
  }
  .row.uniform.\31 50\25 > * {
    padding: 60px 0 0 60px;
  }
  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px;
  }
  .row.\35 0\25 > * {
    padding: 0 0 0 20px;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -20px;
  }
  .row.uniform.\35 0\25 > * {
    padding: 20px 0 0 20px;
  }
  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px;
  }
  .row.\32 5\25 > * {
    padding: 0 0 0 10px;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -10px;
  }
  .row.uniform.\32 5\25 > * {
    padding: 10px 0 0 10px;
  }
  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px;
  }
  .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28xsmall\29 + *,
  .\31 1u\24\28xsmall\29 + *,
  .\31 0u\24\28xsmall\29 + *,
  .\39 u\24\28xsmall\29 + *,
  .\38 u\24\28xsmall\29 + *,
  .\37 u\24\28xsmall\29 + *,
  .\36 u\24\28xsmall\29 + *,
  .\35 u\24\28xsmall\29 + *,
  .\34 u\24\28xsmall\29 + *,
  .\33 u\24\28xsmall\29 + *,
  .\32 u\24\28xsmall\29 + *,
  .\31 u\24\28xsmall\29 + * {
    clear: left;
  }
  .\-11u\28xsmall\29 {
    margin-left: 91.6666666667%;
  }
  .\-10u\28xsmall\29 {
    margin-left: 83.3333333333%;
  }
  .\-9u\28xsmall\29 {
    margin-left: 75%;
  }
  .\-8u\28xsmall\29 {
    margin-left: 66.6666666667%;
  }
  .\-7u\28xsmall\29 {
    margin-left: 58.3333333333%;
  }
  .\-6u\28xsmall\29 {
    margin-left: 50%;
  }
  .\-5u\28xsmall\29 {
    margin-left: 41.6666666667%;
  }
  .\-4u\28xsmall\29 {
    margin-left: 33.3333333333%;
  }
  .\-3u\28xsmall\29 {
    margin-left: 25%;
  }
  .\-2u\28xsmall\29 {
    margin-left: 16.6666666667%;
  }
  .\-1u\28xsmall\29 {
    margin-left: 8.3333333333%;
  }
}

body {
  overflow-x: hidden;
  font-family: "KlinicSlabBook";
  color: #0a0a0a;
  background-color: #EEE5DE;
}

a, a:hover, a:focus, a:active, a.active {
  color: #e1e1e1;
  text-decoration: none;
}

h1 {
  font-family: "Moonshiner-Regular";
}

h1 small {
  font-family: "KlinicSlabBook";
  color: #e1e1e1;
}

h2 {
  font-family: "Moonshiner-Regular";
  font-size: 45px;
  color: #e1e1e1;
}

.summary {
  font-size: 25px;
  color: #c1c1c1;
}

header {
  background-attachment: scroll, fixed;
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/hero.jpg");
  left: 0;
  font-family: "KlinicSlabBook";
  text-align: center;
  color: #fff;
  position: fixed;
  height: 100%;
  width: 35%;
  border-right: 4px solid #000;
  z-index: -1;
}

header .title {
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-bottom: 25px;
  font-size: 60px;
}

main {
  margin-left: 35%;
  padding-left: 4px;
}

footer {
  width: 35%;
  color: #000;
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: right;
}

footer ul {
  padding-right: 20px;
}

footer a, footer a:hover, footer a:focus, footer a:active, footer a.active {
  color: #a0a0a0;
}

footer li {
  list-style: none;
}

@media screen and (max-width: 980px) {
  header {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    border-right: none;
  }
  header .title {
    font-size: 90px;
    margin-bottom: 0px;
  }
  main {
    margin-left: 0;
    padding-left: 0;
  }
  footer {
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/hero.jpg");
  }
}

.list-item-background {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid #000;
}

.list-item-wrapper {
  background-color: rgba(255, 255, 255, 0.4);
}

.list-item-wrapper:hover, .list-item-wrapper:focus, .list-item-wrapper:active {
  background-color: rgba(128, 128, 128, 0.5);
}

.list-item-wrapper h2 {
  color: #222;
}

.list-item-wrapper:hover h2,
.list-item-wrapper:focus h2,
.list-item-wrapper:active h2 {
  color: #e1e1e1;
}

.list-item-wrapper .summary {
  color: #000;
}

.list-item-wrapper:hover .summary,
.list-item-wrapper:focus .summary,
.list-item-wrapper:active .summary {
  color: #c1c1c1;
}

.list-item-wrapper-dark {
  background-color: rgba(0, 0, 0, 0.7);
}

.list-item-wrapper-dark:hover, .list-item-wrapper-dark:focus, .list-item-wrapper-dark:active {
  background-color: rgba(64, 64, 64, 0.7);
}

.list-item-wrapper-dark:hover h2,
.list-item-wrapper-dark:focus h2,
.list-item-wrapper-dark:active h2 {
  color: #222;
}

.list-item-wrapper-dark:hover .summary,
.list-item-wrapper-dark:focus .summary,
.list-item-wrapper-dark:active .summary {
  color: #000;
}

article.list-item {
  width: 100%;
  min-height: 200px;
  text-align: center;
}

article.single {
  padding: 50px 60px;
  font-size: 24px;
}

article.single li {
  list-style: none;
  cursor: pointer;
}

article.single li:before {
  font-family: "FontAwesome";
  content: "\f096";
  padding-right: 10px;
}

article.single li.checked:before {
  content: "\f046";
  padding-right: 8px;
}

article.single a {
  color: #a0a0a0;
}

article.single .source {
  font-family: "Moonshiner-Regular";
}

article.single h2 {
  color: #a0a0a0;
  padding-bottom: 5px;
}
