@import './_mixins.scss';

@font-face {
    font-family: Ailerons;
    src: url("../fonts/Ailerons-Typeface.otf") format("opentype");
}

@font-face {
    font-family: Moonshiner;
    src: url("../fonts/Moonshiner-Regular.otf") format("opentype");
}

@font-face {
    font-family: KlinicSlabBook;
    src: url("../fonts/KlinicSlabBook.otf") format("opentype");
}

body {
    overflow-x: hidden;
    font-family: "Moonshiner";
    color: #0A0A0A;
    background-color: #EEE5DE;
}

a {
    @include empty-hover-focus-active {
        color: #e1e1e1;
        text-decoration: none;
    }
}

h1 {
    small {
        color: #e1e1e1;
    }
}

h2 {
    font-size: 45px;
    color: #e1e1e1;
}

.summary {
    font-size: 25px;
    color: #c1c1c1;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;

    .navbar-brand {
        color: #fff;
        @include hover-focus-active {
            color: #000;
        }
    }

    .navbar-collapse {
        border-color: rgba(255,255,255,.02);
    }

    .navbar-toggle {
        border-color: #000;
        background-color: #000;

        @include hover-focus {
            background-color: #000;
        }

        .icon-bar {
            background-color: #fff;
        }
    }

    .nav li a {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        color: #fff;

        @include hover-focus {
            outline: 0;
            color: #000;
        }
    }

    .navbar-nav>.active>a {
        border-radius: 0;
        color: #fff;
        background-color: #000;

        @include hover-focus {
            color: #fff;
            background-color: #fec503;
        }
    }
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    background-attachment: scroll, fixed;
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/hero.jpg");
    left: 0;

    font-family: "KlinicSlabBook";
    text-align: center;
    color: #fff;

    position: fixed;
    height: 100%;
    width: 35%;
    border-right: 4px solid #000;

    .title {
        margin-top: 0px;
        padding-top: 100px;
        padding-bottom: 50px;
        margin-bottom: 25px;
        font-size: 60px;
    }
    z-index: -1;
}


main {
    margin-left: 35%;
}


footer {
    width: 35%;
    color: #000;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: right;
    padding: 0px 20px 20px;

    a {
        @include empty-hover-focus-active {
            color: #000;
        }
    }

    li {
        list-style: none;
    }

}

@media(max-width: 1200px){
    header {
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;
        width: 100%;
        border-right: none;

        .title {
            font-size: 90px;
            margin-bottom: 0px;
        }
    }

    main {
        margin-left: 0;
    }

    footer {
        width: 100%;
        position: relative;

        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../img/hero.jpg");
    }
}

.list-item-background {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    @include prefix((
        background-size: cover
    ));
    border-top: 4px solid #000;
}

.list-item-wrapper {
    background-color: rgba(255,255,255,0.4);

    @include hover-focus-active {
        background-color: rgba(128,128,128,0.5);
    }

    h2 {
        color: #222;

    }
    @include hover-focus-active-suffix('h2') {
        color: #e1e1e1;
    }

    .summary {
        color: #000;

    }
    @include hover-focus-active-suffix('.summary') {
        color: #c1c1c1;
    }
}

.list-item-wrapper-dark {
    background-color: rgba(0,0,0,0.7);

    @include hover-focus-active {
        background-color: rgba(64,64,64,0.7);
    }

    @include hover-focus-active-suffix('h2') {
        color: #222;
    }

    @include hover-focus-active-suffix('.summary') {
        color: #000;
    }
}


article.list-item {
    min-height: 200px;
}

article.single {
    font-family: "KlinicSlabBook";
    padding: 50px 60px;
    font-size: 24px;

    li {
        list-style: none;

        &:before {
            font-family: "FontAwesome";
            content: "\f096";
            padding-right: 8px;
        }
    }
    a {
        color: #a0a0a0;
    }
}
