@import 'variables';
@import 'mixins';
@import 'skel';

@include font(Moonshiner-Regular);
@include font(KlinicSlabBook);

@include skel-breakpoints((
    xlarge: "(max-width: 1680px)",
    large:  "(max-width: 1280px)",
    medium: "(max-width: 980px)",
    small:  "(max-width: 736px)",
    xsmall: "(max-width: 480px)"
));

@include skel-layout((
    reset: "normalize",
    grid: true,
));

body {
    overflow-x: hidden;
    font-family: "KlinicSlabBook";
    color: $text-color;
    background-color: $background-color;
}

a {
    @include empty-hover-focus-active {
        color: $light-text;
        text-decoration: none;
    }
}

h1 {
    font-family: "Moonshiner-Regular";
    small {
        font-family: "KlinicSlabBook";
        color: $light-text;
    }
}

h2 {
    font-family: "Moonshiner-Regular";
    font-size: 45px;
    color: $light-text;
}

.summary {
    font-size: 25px;
    color: #c1c1c1;
}


header {
    background-attachment: scroll, fixed;
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/hero.jpg");
    left: 0;

    font-family: "KlinicSlabBook";
    text-align: center;
    color: #fff;

    position: fixed;
    height: 100%;
    width: 35%;
    border-right: 4px solid $border-color;

    .title {
        margin-top: 0px;
        padding-top: 100px;
        padding-bottom: 50px;
        margin-bottom: 25px;
        font-size: 60px;
    }
    z-index: -1;
}


main {
    margin-left: 35%;
    padding-left: 4px;
}


footer {
    width: 35%;
    color: $darkest-text;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: right;

    ul {
        padding-right: 20px;
    }

    a {
        @include empty-hover-focus-active {
            color: $link-text;
        }
    }

    li {
        list-style: none;
    }

}

@include breakpoint(medium){
    header {
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;
        width: 100%;
        border-right: none;

        .title {
            font-size: 90px;
            margin-bottom: 0px;
        }
    }

    main {
        margin-left: 0;
        padding-left: 0;
    }

    footer {
        width: 100%;
        position: relative;

        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../img/hero.jpg");
    }
}

.list-item-background {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 4px solid $border-color;
}

.list-item-wrapper {
    background-color: rgba(255,255,255,0.4);

    @include hover-focus-active {
        background-color: rgba(128,128,128,0.5);
    }

    h2 {
        color: #222;

    }
    @include hover-focus-active-suffix('h2') {
        color: $light-text;
    }

    .summary {
        color: #000;

    }
    @include hover-focus-active-suffix('.summary') {
        color: #c1c1c1;
    }
}

.list-item-wrapper-dark {
    background-color: rgba(0,0,0,0.7);

    @include hover-focus-active {
        background-color: rgba(64,64,64,0.7);
    }

    @include hover-focus-active-suffix('h2') {
        color: #222;
    }

    @include hover-focus-active-suffix('.summary') {
        color: #000;
    }
}


article.list-item {
    width: 100%;
    min-height: 200px;
    text-align: center;
}

article.single {
    padding: 50px 60px;
    font-size: 24px;

    li {
        list-style: none;

        &:before {
            font-family: "FontAwesome";
            content: "\f096";
            padding-right: 8px;
        }
    }

    a {
        color: $link-text;
    }

    .source {
        font-family: "Moonshiner-Regular";
    }

    h2 {
        color: $medium-text;
        padding-bottom: 5px;
    }
}
