@font-face {
    font-family: Ailerons;
    src: url("../fonts/Ailerons-Typeface.otf") format("opentype");
}

@font-face {
    font-family: Moonshiner;
    src: url("../fonts/Moonshiner-Regular.otf") format("opentype");
}

@font-face {
    font-family: KlinicSlabBook;
    src: url("../fonts/KlinicSlabBook.otf") format("opentype");
}

body {
    overflow-x: hidden;
    font-family: "Moonshiner";
    background-color: #666;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    text-decoration: none;
}

h1 small {
    color: #e1e1e1;
}

h2 {
    font-size: 45px;
    color: #e1e1e1;
}

.summary {
    font-size: 25px;
    color: #c1c1c1;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #000;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #000;
    background-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #000;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #000;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    font-family: "KlinicSlabBook";
    text-align: center;
    color: #fff;
    display: table;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-bottom: 4px solid #333;
}

header .container {
    min-height: 500px;
}

header .title {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 25px;
    font-size: 90px;
}

footer {
    background-color: #666;
    width: 100%;
}

.list-item-background {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-bottom: 4px solid #333;
}

.list-item-wrapper {
    background-color: rgba(255,255,255,0.4);
}

.list-item-wrapper-dark {
    background-color: rgba(0,0,0,0.7);
}

.list-item-wrapper h2 {
    color: #222;
}

.list-item-wrapper .summary {
    color: #000;
}

article.list-item {
    min-height: 200px;
}
