{{ "<!-- Footer section -->" | safeHTML }}
<footer>
    <ul>
        <li>Powered by</li>
        {{ range .Site.Params.footer.powerby }}
        <li class="powerby">{{ . | markdownify }}</li>
        {{ end }}
        <li class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</li>
    <ul>
    <ul class="list-inline social-buttons">
        {{ range .Site.Params.footer.social }}
        <li><a href="{{ .link }}"><i class="fa {{ .icon }}"></i></a></li>
        {{ end }}
    </ul>
</footer>

    {{ partial "js.html" . }}
</body>
</html>
